<div class="container">
  
  <div class="row">
    <h1><a href="<%= @link.url %>"><%= @link.title %></a><br></h1>
    <%= image_tag @link.image_url(:showpost) %>
  </div>
  
  <div class="page-header text-muted">
    <h3>Submitted by <%= @link.user.name %></h3>
  </div>
  <br/>

  <div class="row">
    <%= @link.body %>
  </div>

  <div class="row">
  	<%= link_to 'Visit Original Story', @link.url, class: "btn btn-block btn-success" %>
  </div>

  <% if @link.user == current_user -%>
  	<div class="btn-group">
  		<%= link_to 'Edit', edit_link_path(@link), class: "btn btn-info" %>
  		<%= link_to 'Destroy', @link, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
  	</div>
  <% end %>

  <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES * * */
          var disqus_shortname = 'awatchlist';
          
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>
</div>