<%= tinymce %>
<%= form_for(@conspiracy, :html => { multipart: true }) do |f| %>
  <% if @conspiracy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@conspiracy.errors.count, "error") %> prohibited this conspiracy from being saved:</h2>

      <ul>
      <% @conspiracy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control" %> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= tinymce_assets %>


<script type="text/javascript">
  tinyMCE.init({
    mode: 'textareas',
    theme: 'modern'
  });
</script>
