<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @conspiracy.title %>
</p>

<p>
  <%= raw @conspiracy.body %>
</p>

<p>
  <strong>Image:</strong>
  <%= @conspiracy.image %>
</p>

<%= link_to 'Edit', edit_conspiracy_path(@conspiracy) %> |
<%= link_to 'Back', conspiracies_path %>
