<div class="container">    
	<hr>
	<div class="row-fluid">
			<div class="span10">
				<a><%= link_to 'About us', about_path %></a> |
				<a><%= link_to 'Terms of Service', terms_path %></a> |    
				<a><%= link_to 'Privacy', privacy_path %></a> |    
				<a><%= link_to 'Contact us', contact_path %></a> |
				<a><%= link_to 'Advertising', advertising_path %></a> |
				<a><%= link_to 'Write for us', write_path %></a>  
				<p class="muted pull-right">© 2015 Alien Watch List. All rights reserved</p>
			</div>
		</div>
	</div>
</div>